<mat-card>
  <div class="container" style="text-align:center">
    <h1>{{title}}</h1>
    <div class="status"
    [class.statusFinished] = "statusFinished">
      {{status}}
    </div>
    <div id="board">
      <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile (click)="boardClicked(1)">{{this.gameBoard.returnMark(1)}}</mat-grid-tile>
        <mat-grid-tile (click)="boardClicked(2)">{{this.gameBoard.returnMark(2)}}</mat-grid-tile>
        <mat-grid-tile (click)="boardClicked(3)">{{this.gameBoard.returnMark(3)}}</mat-grid-tile>
        <mat-grid-tile (click)="boardClicked(4)">{{this.gameBoard.returnMark(4)}}</mat-grid-tile>
        <mat-grid-tile (click)="boardClicked(5)">{{this.gameBoard.returnMark(5)}}</mat-grid-tile>
        <mat-grid-tile (click)="boardClicked(6)">{{this.gameBoard.returnMark(6)}}</mat-grid-tile>
        <mat-grid-tile (click)="boardClicked(7)">{{this.gameBoard.returnMark(7)}}</mat-grid-tile>
        <mat-grid-tile (click)="boardClicked(8)">{{this.gameBoard.returnMark(8)}}</mat-grid-tile>
        <mat-grid-tile (click)="boardClicked(9)">{{this.gameBoard.returnMark(9)}}</mat-grid-tile>
      </mat-grid-list>
    </div>
    <button mat-raised-button (click)="newGame()" color="warn" >Reset</button>
  </div>
</mat-card>